<!--<a href="https://www.nytimes.com/games/wordle/index.html"><img src="https://www.cabq.gov/artsculture/biopark/news/10-cool-facts-about-penguins/@@images/1a36b305-412d-405e-a38b-0947ce6709ba.jpeg"></a>-->


<% fillings = ["Carnitas", "Al Pastor", "Steak", "Fish", "Chicken"] %>



<h1>I love Tacos!</h1>

<p>There are <%= fillings.length %> Tacos </p>

<u1>
  <% for taco in fillings %>
    <li><%= taco %></li>
  <% end %>
</u1>

<p>
  <a href="/wordle"><img src="https://static01.nyt.com/images/2022/03/02/crosswords/alpha-wordle-icon-new/alpha-wordle-icon-new-square320-v3.png?format=pjpg&quality=75&auto=webp&disable=upscale" width="5%" height="auto"></a>
</p>